<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (abonnement) {
      <div>
        <h2 data-cy="abonnementDetailsHeading"><span jhiTranslate="stockApp.abonnement.detail.title">Abonnement</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.abonnement.id">Id</span></dt>
          <dd>
            <span>{{ abonnement.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.dateDebut">Date Debut</span></dt>
          <dd>
            <span>{{ abonnement.dateDebut | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.dateFin">Date Fin</span></dt>
          <dd>
            <span>{{ abonnement.dateFin | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.statutAbonnement">Statut Abonnement</span></dt>
          <dd>
            <span jhiTranslate="{{ 'stockApp.StatutAbonnement.' + abonnement.statutAbonnement }}">{{ abonnement.statutAbonnement }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.prix">Prix</span></dt>
          <dd>
            <span>{{ abonnement.prix }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ abonnement.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.createdBy">Created By</span></dt>
          <dd>
            <span>{{ abonnement.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ abonnement.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ abonnement.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ abonnement.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.structure">Structure</span></dt>
          <dd>
            @if (abonnement.structure) {
              <div>
                <a [routerLink]="['/structure', abonnement.structure.id, 'view']">{{ abonnement.structure.libelle }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.plansAbonnement">Plans Abonnement</span></dt>
          <dd>
            @if (abonnement.plansAbonnement) {
              <div>
                <a [routerLink]="['/plans-abonnement', abonnement.plansAbonnement.id, 'view']">{{ abonnement.plansAbonnement.libelle }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="stockApp.abonnement.paiement">Paiement</span></dt>
          <dd>
            @if (abonnement.paiement) {
              <div>
                <a [routerLink]="['/paiement', abonnement.paiement.id, 'view']">{{ abonnement.paiement.montant }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/abonnement', abonnement.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
