<div>
  <h2 id="page-heading" data-cy="AbonnementHeading">
    <span jhiTranslate="stockApp.abonnement.home.title">Abonnements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="stockApp.abonnement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-abonnement"
        [routerLink]="['/abonnement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="stockApp.abonnement.home.createLabel">Créer un nouveau Abonnement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (abonnements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="stockApp.abonnement.home.notFound">Aucun Abonnement trouvé</span>
    </div>
  }

  @if (abonnements && abonnements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.dateDebut">Date Debut</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.dateFin">Date Fin</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statutAbonnement">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.statutAbonnement">Statut Abonnement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prix">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.prix">Prix</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deleteAt">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.deleteAt">Delete At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="structure.libelle">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.structure">Structure</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plansAbonnement.libelle">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.plansAbonnement">Plans Abonnement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="paiement.montant">
              <div class="d-flex">
                <span jhiTranslate="stockApp.abonnement.paiement">Paiement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (abonnement of abonnements; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/abonnement', abonnement.id, 'view']">{{ abonnement.id }}</a>
              </td>
              <td>{{ abonnement.dateDebut | formatMediumDatetime }}</td>
              <td>{{ abonnement.dateFin | formatMediumDatetime }}</td>
              <td jhiTranslate="{{ 'stockApp.StatutAbonnement.' + abonnement.statutAbonnement }}">{{ abonnement.statutAbonnement }}</td>
              <td>{{ abonnement.prix }}</td>
              <td>{{ abonnement.deleteAt | formatMediumDatetime }}</td>
              <td>{{ abonnement.createdBy }}</td>
              <td>{{ abonnement.createdDate | formatMediumDatetime }}</td>
              <td>{{ abonnement.lastModifiedBy }}</td>
              <td>{{ abonnement.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (abonnement.structure) {
                  <div>
                    <a [routerLink]="['/structure', abonnement.structure.id, 'view']">{{ abonnement.structure.libelle }}</a>
                  </div>
                }
              </td>
              <td>
                @if (abonnement.plansAbonnement) {
                  <div>
                    <a [routerLink]="['/plans-abonnement', abonnement.plansAbonnement.id, 'view']">{{
                      abonnement.plansAbonnement.libelle
                    }}</a>
                  </div>
                }
              </td>
              <td>
                @if (abonnement.paiement) {
                  <div>
                    <a [routerLink]="['/paiement', abonnement.paiement.id, 'view']">{{ abonnement.paiement.montant }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/abonnement', abonnement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/abonnement', abonnement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(abonnement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (abonnements && abonnements.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
