<div>
  <h2 id="page-heading" data-cy="PaiementHeading">
    <span jhiTranslate="stockApp.paiement.home.title">Paiements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="stockApp.paiement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-paiement"
        [routerLink]="['/paiement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="stockApp.paiement.home.createLabel">Créer un nouveau Paiement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (paiements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="stockApp.paiement.home.notFound">Aucun Paiement trouvé</span>
    </div>
  }

  @if (paiements && paiements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="montant">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.montant">Montant</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="methodePaiement">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.methodePaiement">Methode Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="statutPaiement">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.statutPaiement">Statut Paiement</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deleteAt">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.deleteAt">Delete At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="plansAbonnement.libelle">
              <div class="d-flex">
                <span jhiTranslate="stockApp.paiement.plansAbonnement">Plans Abonnement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (paiement of paiements; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/paiement', paiement.id, 'view']">{{ paiement.id }}</a>
              </td>
              <td>{{ paiement.montant }}</td>
              <td jhiTranslate="{{ 'stockApp.MethodePaiement.' + paiement.methodePaiement }}">{{ paiement.methodePaiement }}</td>
              <td jhiTranslate="{{ 'stockApp.StatutPaiement.' + paiement.statutPaiement }}">{{ paiement.statutPaiement }}</td>
              <td>{{ paiement.deleteAt | formatMediumDatetime }}</td>
              <td>{{ paiement.createdBy }}</td>
              <td>{{ paiement.createdDate | formatMediumDatetime }}</td>
              <td>{{ paiement.lastModifiedBy }}</td>
              <td>{{ paiement.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (paiement.plansAbonnement) {
                  <div>
                    <a [routerLink]="['/plans-abonnement', paiement.plansAbonnement.id, 'view']">{{ paiement.plansAbonnement.libelle }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/paiement', paiement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(paiement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (paiements && paiements.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
