<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (mouvementStock) {
      <div>
        <h2 data-cy="mouvementStockDetailsHeading"><span jhiTranslate="stockApp.mouvementStock.detail.title">Mouvement Stock</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.mouvementStock.id">Id</span></dt>
          <dd>
            <span>{{ mouvementStock.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.quantite">Quantite</span></dt>
          <dd>
            <span>{{ mouvementStock.quantite }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.typeMouvement">Type Mouvement</span></dt>
          <dd>
            <span jhiTranslate="{{ 'stockApp.TypeMouvement.' + mouvementStock.typeMouvement }}">{{ mouvementStock.typeMouvement }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.transactionDate">Transaction Date</span></dt>
          <dd>
            <span>{{ mouvementStock.transactionDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ mouvementStock.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.createdBy">Created By</span></dt>
          <dd>
            <span>{{ mouvementStock.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ mouvementStock.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ mouvementStock.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ mouvementStock.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.produit">Produit</span></dt>
          <dd>
            @if (mouvementStock.produit) {
              <div>
                <a [routerLink]="['/produit', mouvementStock.produit.id, 'view']">{{ mouvementStock.produit.libelle }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="stockApp.mouvementStock.entrepot">Entrepot</span></dt>
          <dd>
            @if (mouvementStock.entrepot) {
              <div>
                <a [routerLink]="['/entrepot', mouvementStock.entrepot.id, 'view']">{{ mouvementStock.entrepot.libelle }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/mouvement-stock', mouvementStock.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
