<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (structure) {
      <div>
        <h2 data-cy="structureDetailsHeading"><span jhiTranslate="stockApp.structure.detail.title">Structure</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.structure.id">Id</span></dt>
          <dd>
            <span>{{ structure.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.libelle">Libelle</span></dt>
          <dd>
            <span>{{ structure.libelle }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.telephone">Telephone</span></dt>
          <dd>
            <span>{{ structure.telephone }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.email">Email</span></dt>
          <dd>
            <span>{{ structure.email }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.adresse">Adresse</span></dt>
          <dd>
            <span>{{ structure.adresse }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ structure.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.createdBy">Created By</span></dt>
          <dd>
            <span>{{ structure.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ structure.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ structure.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.structure.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ structure.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/structure', structure.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
