<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (permission) {
      <div>
        <h2 data-cy="permissionDetailsHeading"><span jhiTranslate="stockApp.permission.detail.title">Permission</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.permission.id">Id</span></dt>
          <dd>
            <span>{{ permission.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.ressource">Ressource</span></dt>
          <dd>
            <span>{{ permission.ressource }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.action">Action</span></dt>
          <dd>
            <span>{{ permission.action }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ permission.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ permission.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.createdBy">Created By</span></dt>
          <dd>
            <span>{{ permission.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ permission.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ permission.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.permission.authority">Authority</span></dt>
          <dd>
            @for (authority of permission.authorities; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/authority', authority.name, 'view']">{{ authority.name }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/permission', permission.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
