<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (categorie) {
      <div>
        <h2 data-cy="categorieDetailsHeading"><span jhiTranslate="stockApp.categorie.detail.title">Categorie</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.categorie.id">Id</span></dt>
          <dd>
            <span>{{ categorie.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.libelle">Libelle</span></dt>
          <dd>
            <span>{{ categorie.libelle }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.description">Description</span></dt>
          <dd>
            <span>{{ categorie.description }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ categorie.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.createdBy">Created By</span></dt>
          <dd>
            <span>{{ categorie.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ categorie.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ categorie.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.categorie.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ categorie.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/categorie', categorie.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
