<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mouvement-stock-heading"
        data-cy="MouvementStockCreateUpdateHeading"
        jhiTranslate="stockApp.mouvementStock.home.createOrEditLabel"
      >
        Créer ou éditer un Mouvement Stock
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="stockApp.mouvementStock.id" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
          @if (editForm.get('quantite')!.invalid && (editForm.get('quantite')!.dirty || editForm.get('quantite')!.touched)) {
            <div>
              @if (editForm.get('quantite')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantite')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.typeMouvement" for="field_typeMouvement">Type Mouvement</label>
          <select
            class="form-control"
            name="typeMouvement"
            formControlName="typeMouvement"
            id="field_typeMouvement"
            data-cy="typeMouvement"
          >
            <option [ngValue]="null">{{ 'stockApp.TypeMouvement.null' | translate }}</option>
            @for (typeMouvement of typeMouvementValues; track $index) {
              <option [value]="typeMouvement">{{ 'stockApp.TypeMouvement.' + typeMouvement | translate }}</option>
            }
          </select>
          @if (editForm.get('typeMouvement')!.invalid && (editForm.get('typeMouvement')!.dirty || editForm.get('typeMouvement')!.touched)) {
            <div>
              @if (editForm.get('typeMouvement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.transactionDate" for="field_transactionDate"
            >Transaction Date</label
          >
          <div class="d-flex">
            <input
              id="field_transactionDate"
              data-cy="transactionDate"
              type="datetime-local"
              class="form-control"
              name="transactionDate"
              formControlName="transactionDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('transactionDate')!.invalid && (editForm.get('transactionDate')!.dirty || editForm.get('transactionDate')!.touched)
          ) {
            <div>
              @if (editForm.get('transactionDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('transactionDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >Ce champ doit être une date et une heure.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.deleteAt" for="field_deleteAt">Delete At</label>
          <div class="d-flex">
            <input
              id="field_deleteAt"
              data-cy="deleteAt"
              type="datetime-local"
              class="form-control"
              name="deleteAt"
              formControlName="deleteAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('createdBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >Ce champ doit faire moins de 50 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.createdDate" for="field_createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.lastModifiedBy" for="field_lastModifiedBy"
            >Last Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
          @if (
            editForm.get('lastModifiedBy')!.invalid && (editForm.get('lastModifiedBy')!.dirty || editForm.get('lastModifiedBy')!.touched)
          ) {
            <div>
              @if (editForm.get('lastModifiedBy')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >Ce champ doit faire moins de 50 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.lastModifiedDate" for="field_lastModifiedDate"
            >Last Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_lastModifiedDate"
              data-cy="lastModifiedDate"
              type="datetime-local"
              class="form-control"
              name="lastModifiedDate"
              formControlName="lastModifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.produit" for="field_produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            @if (editForm.get(['produit'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (produitOption of produitsSharedCollection; track $index) {
              <option [ngValue]="produitOption">{{ produitOption.libelle }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)) {
          <div>
            @if (editForm.get(['produit'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="stockApp.mouvementStock.entrepot" for="field_entrepot">Entrepot</label>
          <select
            class="form-control"
            id="field_entrepot"
            data-cy="entrepot"
            name="entrepot"
            formControlName="entrepot"
            [compareWith]="compareEntrepot"
          >
            @if (editForm.get(['entrepot'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (entrepotOption of entrepotsSharedCollection; track $index) {
              <option [ngValue]="entrepotOption">{{ entrepotOption.libelle }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['entrepot'])!.invalid && (editForm.get(['entrepot'])!.dirty || editForm.get(['entrepot'])!.touched)) {
          <div>
            @if (editForm.get(['entrepot'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
