<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (paiement) {
      <div>
        <h2 data-cy="paiementDetailsHeading"><span jhiTranslate="stockApp.paiement.detail.title">Paiement</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="stockApp.paiement.id">Id</span></dt>
          <dd>
            <span>{{ paiement.id }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.montant">Montant</span></dt>
          <dd>
            <span>{{ paiement.montant }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.methodePaiement">Methode Paiement</span></dt>
          <dd>
            <span jhiTranslate="{{ 'stockApp.MethodePaiement.' + paiement.methodePaiement }}">{{ paiement.methodePaiement }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.statutPaiement">Statut Paiement</span></dt>
          <dd>
            <span jhiTranslate="{{ 'stockApp.StatutPaiement.' + paiement.statutPaiement }}">{{ paiement.statutPaiement }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.deleteAt">Delete At</span></dt>
          <dd>
            <span>{{ paiement.deleteAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.createdBy">Created By</span></dt>
          <dd>
            <span>{{ paiement.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ paiement.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ paiement.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ paiement.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="stockApp.paiement.plansAbonnement">Plans Abonnement</span></dt>
          <dd>
            @if (paiement.plansAbonnement) {
              <div>
                <a [routerLink]="['/plans-abonnement', paiement.plansAbonnement.id, 'view']">{{ paiement.plansAbonnement.libelle }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/paiement', paiement.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
